#logo{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.models1{
    background-image: url(https://kingkrazee.github.io/eccomerce/images/streetwear.png);
    background-repeat: no-repeat;
    width: 1519.2px;
    object-fit: cover;
    background-size: cover;
    height: 100vh;
}
.models2{
  background-image: url(https://kingkrazee.github.io/eccomerce/images/suitswear.png);
  background-repeat: no-repeat;
  width: 1519.2px;
  object-fit: cover;
  background-size: cover;
  height: 100vh;
}
.clothes1{
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 1rem;
  }
  .cards{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 1019.2px;

  }
  #kerry, #kerry2, #carouselExample{
    width: 1019.2px;
  }
  
  #navvy{
    display: flex;
    justify-content: center;
    height: 140px;
    background: rgb(167,167,167);
background: linear-gradient(90deg, rgba(167,167,167,1) 0%, rgba(116,115,115,1) 50%, rgba(167,167,167,1) 100%);
    
  }
  #linkz{
    margin-top: 2rem;
    font-size: 35px;
    color: black;
      font-family: "Jacquard 12", system-ui;
      font-weight: 400;
      font-style: normal;
    
    
  }
  /* .button1 {
    background-color: #e03516;
    width: 90px;
    height: 20px;
    border-radius: 1rem;
    color: #fff;
    border: 2px solid #000; 
  } */
  #carouselExampleCaptions, #carouselExample{

    width: 1019.2;

  }
  .aboutz{
    background-image: url(https://kingkrazee.github.io/eccomerce/images/aboutBack.jpg);
    background-repeat: no-repeat;
    width: 1519.2px;
    object-fit: cover;
    background-size: cover;
    height: 80vh;
  }
  
  .aboutp{
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc; /* Optional: for visual reference */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: for visual effect */
    background-color: rgb(0,0,0,0.5);
    color: white;
    
}
  .abouto{
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc; /* Optional: for visual reference */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: for visual effect */
    background-color: rgb(0,0,0,0.5);
    color: white;

    
}

.aboutt, .aboutl{
  padding-top: 5rem;
}
/* .abouto{
  background-image:
    linear-gradient(black, black),
    url(https://kingkrazee.github.io/eccomerce/images/aboutgif.gif);
  background-size: cover;
  background-blend-mode: saturation;
} */
/* .indi{
  background: black;
} */
/* .gohere2{
  height: 60px;
  width: 220px;
  margin-top: 35rem;
  margin-left: 43rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background: linear-gradient(330deg, rgba(255,49,49,1) 0%, rgba(255,145,77,1) 100%);
} */
 .demsuits{
  height: 500px;
  width: 500px;
  object-fit: cover;
  /* border-radius: 2rem; */
 }
 #col1{
  width: 500px;
 }
#col2{
  width: 1019.2px;
  padding-top: 6rem;
}
.row{
  width: 1519.2px;
  
}
body{
  background: rgb(167,167,167);
    background: linear-gradient(90deg, rgba(167,167,167,1) 0%, rgba(116,115,115,1) 50%, rgba(167,167,167,1) 100%);
}


.arrivs-container{
  position: relative;
  height: 60px;
  overflow: hidden; 
  background-color: black;
  color: white;
  font-family: "Jacquard 12", system-ui;
      font-weight: 400;
      font-style: normal;
}

.newarrivs {
  padding: 10px 16px;
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  white-space: nowrap;
  animation: marquee 15s linear infinite; 
  
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.gify{
  background-image: url(https://kingkrazee.github.io/eccomerce/images/aboutgif.gif);
  background-size: cover;
  /* width: 1519.2px; */
  height: 80vh;
  background-repeat: no-repeat;
  /* filter: brightness(0.5); */
}
.social-icons{
  display: flex;
  justify-content: space-around;
  background: rgb(167,167,167);
    background: linear-gradient(90deg, rgba(167,167,167,1) 0%, rgba(116,115,115,1) 50%, rgba(167,167,167,1) 100%);
  /* opacity: 0.5; */
}
.social-icons i{
  font-size: 40px;
}
/* #feet{
  margin-top: 5rem;
} */

