/* Default CSS */
*,
*::before,
*::after{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





#logo{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.models1{
    background-image: url(https://kingkrazee.github.io/eccomerce/images/streetwear.png);
    background-repeat: no-repeat;
    width: 1519.2px;
    object-fit: cover;
    background-size: cover;
    height: 100vh;
}
.models2{
  background-image: url(https://kingkrazee.github.io/eccomerce/images/suitswear.png);
  background-repeat: no-repeat;
  width: 1519.2px;
  object-fit: cover;
  background-size: cover;
  height: 100vh;
}
.clothes1{
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 1rem;
  }
  .cards{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 1019.2px;

  }
  #card2{
    /* display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem; */
    height: 100px;
    width: 250px;
  }
  #kerry, #kerry2, #carouselExample{
    width: 1019.2px;
  }
  
  #navvy{
    display: flex;
    justify-content: center;
    height: 140px;
    background: rgb(167,167,167);
    background: linear-gradient(90deg, rgba(167,167,167,1) 0%, rgba(116,115,115,1) 50%, rgba(167,167,167,1) 100%);
    
  }
  #linkz{
    margin-top: 2rem;
    font-size: 35px;
    color: black;
      font-family: "Jacquard 12", system-ui;
      font-weight: 400;
      font-style: normal;
    
    
  }
  /* .button1 {
    background-color: #e03516;
    width: 90px;
    height: 20px;
    border-radius: 1rem;
    color: #fff;
    border: 2px solid #000; 
  } */
  #carouselExampleCaptions, #carouselExample{

    width: 1019.2;

  }
  .aboutz{
    background-image: url(https://kingkrazee.github.io/eccomerce/images/aboutBack.jpg);
    background-repeat: no-repeat;
    width: 1519.2px;
    object-fit: cover;
    background-size: cover;
    height: 80vh;
  }
  
  .aboutp{
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc; /* Optional: for visual reference */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: for visual effect */
    background-color: rgb(0,0,0,0.5);
    color: white;
    
}
  .abouto{
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc; /* Optional: for visual reference */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: for visual effect */
    background-color: rgb(0,0,0,0.5);
    color: white;

    
}

.aboutt, .aboutl{
  padding-top: 5rem;
}
/* .abouto{
  background-image:
    linear-gradient(black, black),
    url(https://kingkrazee.github.io/eccomerce/images/aboutgif.gif);
  background-size: cover;
  background-blend-mode: saturation;
} */
/* .indi{
  background: black;
} */
/* .gohere2{
  height: 60px;
  width: 220px;
  margin-top: 35rem;
  margin-left: 43rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background: linear-gradient(330deg, rgba(255,49,49,1) 0%, rgba(255,145,77,1) 100%);
} */
 .demsuits{
  height: 500px;
  width: 500px;
  object-fit: cover;
  /* border-radius: 2rem; */
 }
 #col1{
  width: 500px;
 }
#col2{
  width: 1019.2px;
  padding-top: 6rem;
}
.row{
  width: 1519.2px;
  
}
body{
  background: rgb(167,167,167);
    background: linear-gradient(90deg, rgba(167,167,167,1) 0%, rgba(116,115,115,1) 50%, rgba(167,167,167,1) 100%);
}


.arrivs-container{
  position: relative;
  height: 60px;
  overflow: hidden; 
  background-color: black;
  color: white;
  font-family: "Jacquard 12", system-ui;
      font-weight: 400;
      font-style: normal;
}

.newarrivs {
  padding: 10px 16px;
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  white-space: nowrap;
  animation: marquee 15s linear infinite; 
  
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.gify{
  background-image: url(https://kingkrazee.github.io/eccomerce/images/aboutgif.gif);
  background-size: cover;
  /* width: 1519.2px; */
  height: 120vh;
  background-repeat: no-repeat;
  /* filter: brightness(0.5); */
}
.social-icons{
  display: flex;
  justify-content: space-around;
  background: rgb(167,167,167);
    background: linear-gradient(90deg, rgba(167,167,167,1) 0%, rgba(116,115,115,1) 50%, rgba(167,167,167,1) 100%);
  /* opacity: 0.5; */
}
.social-icons i{
  font-size: 40px;
}
.about2{
  text-align: center;
    padding: 20px;
    border: 1px solid #ccc; /* Optional: for visual reference */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: for visual effect */
    background-color: rgb(0,0,0,0.5);
    color: white;
    width: 500px;
    margin-left: 32rem;
}
.me{
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.row{
  padding-top: 5rem;
}

/* #feet{
  margin-top: 5rem;
} */

/* #pros1{
  padding-right: 10rem;
} */
.pros{
   width: 1000px;
   height: 1000px;
}


/* contact page */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
      
.formcarry-container {
  box-sizing: border-box;
  margin: 40px auto 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;

  width: 400px;

  /* NORMAL */
  --fc-border-color: #ECEFF9;
  --fc-normal-text-color: #0E0B3D;
  --fc-normal-placeholder-color: #B3B8D0;

  /* PRIMARY COLOR | HSL FORMAT*/
  --fc-primary-color-hue: 220;
  --fc-error-color-hue: 356;
  --fc-primary-hsl: var(--fc-primary-color-hue), 100%, 54%;
  --fc-error-hsl: var(--fc-error-color-hue), 100%, 54%;

  /* HOVER */
  --fc-field-hover-bg-color: #F7F9FC;
  --fc-border-hover-color: #DDE0EE;
  --fc-field-hover-text-color: #B3B8D0;

  --fc-border-active-color: #1463FF;
}

.formcarry-container * {
  box-sizing: border-box;
}

.formcarry-container label {
  display: block;
  cursor: pointer;
}

.formcarry-container .formcarry-block:not(:first-child) {
  margin-top: 16px;
}

/*=============================================
=            Fields           =
=============================================*/

.formcarry-container input,
.formcarry-container textarea,
.formcarry-container select {
  margin-top: 4px;
  width: 100%;
  height: 42px;
  border: 1px solid var(--fc-border-color);
  color: var(--fc-normal-text-color);
  border-radius: 6px;
  padding: 8px 12px;
  
  font-family: "Inter", sans-serif;
  font-size:14px;
  transition: 125ms background, 125ms color, 125ms box-shadow;
}

.formcarry-container textarea{
  min-height: 188px;
  max-width: 100%;
  padding-top: 12px;
}

.formcarry-container input::placeholder,
.formcarry-container textarea::placeholder,
.formcarry-container select::placeholder {
  color: var(--fc-normal-placeholder-color);
}

.formcarry-container input:hover,
.formcarry-container textarea:hover,
.formcarry-container select:hover {
  border-color: var(--fc-border-hover-color);
  background-color: var(--fc-field-hover-bg-color);
}

.formcarry-container input:hover::placeholder,
.formcarry-container textarea:hover::placeholder,
.formcarry-container select:hover::placeholder {
  color: var(--fc-field-hover-text-color);
}

.formcarry-container input:focus,
.formcarry-container textarea:focus,
.formcarry-container select:focus {
  background-color: #fff;
  border-color: hsl(var(--fc-primary-hsl));
  box-shadow: hsla(var(--fc-primary-hsl), 8%) 0px 0px 0px 3px;
  outline: none;
}

.formcarry-container select {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 14.5001L8.46387 10.9642L9.64303 9.78589L11.9997 12.1434L14.3564 9.78589L15.5355 10.9642L11.9997 14.5001Z' fill='%236C6F93'/%3E%3C/svg%3E%0A");
  /* background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px); */
  background-size: 24px 24px;
  background-position: 98%;
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
}

.formcarry-container button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  height: 42px;
  line-height: 40px;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid hsla(var(--fc-primary-hsl));
  background-color: hsla(var(--fc-primary-hsl));
  color: #fff;
  cursor: pointer;
}

.formcarry-container button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  height: 40px;
  line-height: 24px;
  width: 100%;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: hsla(var(--fc-primary-hsl));
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent;
  
  transition: 125ms all;
}

.formcarry-container button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), hsla(var(--fc-primary-hsl));
}

.formcarry-container button:focus {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
  border-inline: 1px solid inline rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 0px 3px rgba(var(--fc-primary-hsl), 12%);
}

.formcarry-container button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
}

.formcarry-container button:disabled {
  background-color: hsla(var(--fc-primary-hsl), 40%);
  cursor: not-allowed;
}

.formcarry-container input:focus:required:invalid,
.formcarry-container input:focus:invalid, 
.formcarry-container select:focus:required:invalid,
.formcarry-container select:focus:invalid
{
  color: hsl(var(--fc-error-hsl)); 
  border-color: hsl(var(--fc-error-hsl));
  box-shadow: 0px 0px 0px 3px hsla(var(--fc-error-hsl), 12%);
}

.conth{
  width: 600px;
  margin-left: 30rem;
  border: 1px solid white;
  border-radius: 1rem;
  /* background: white; */
  background: rgba(0,0,0,0.3);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.cont1{
  background-image: url(https://kingkrazee.github.io/eccomerce/images/contact-back.jpg);
  background-repeat: no-repeat;
  width: 1519.2px;
  object-fit: cover;
  background-size: cover;
  height: 80vh;
} 
.table img{
  width: 100px;
  height: 100px;
}

.addie{
  width: 250px;
  margin-left: 33rem;
  border: 1px solid white;
  border-radius: 1rem;
  /* background: white; */
  background: rgba(0,0,0,0.3);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.table{
  width: 1000px;
  height: 500px;
  margin-left: 10rem;
}
/* #kuller{
  background-color: #0E0B3D;
} */

#tik{
  margin-left: 10rem;
}
#admin-body{
  position: absolute;
  background-image: url(https://kingkrazee.github.io/eccomerce/images/admin-back.jpg);
  background-repeat: no-repeat;
  width: 1519.2px;
  object-fit: cover;
  background-size: cover;
  height: 130vh;
}

